In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [158]:
data = pd.read_csv('binary.csv')

In [159]:
data

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   admit   400 non-null    int64
 1   gre     400 non-null    int64
 2   gpa     400 non-null    float64
 3   rank    400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [161]:
data = data.join(pd.get_dummies(data["rank"]))

In [162]:
for field in ['gre', 'gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:,field] = (data[field]-mean)/std

In [163]:
data

     admit       gre       gpa  rank  1  2  3  4
0        0 -1.798011  0.578348     3  0  0  1  0
1        1  0.625884  0.736008     3  0  0  1  0
2        1  1.837832  1.603135     1  1  0  0  0
3        1  0.452749 -0.525269     4  0  0  0  1
4        0 -0.586063 -1.208461     4  0  0  0  1
..     ...       ...       ...   ... .. .. .. ..
395      0  0.279614  1.603135     2  0  1  0  0
396      0 -0.239793 -0.919418     3  0  0  1  0
397      0 -1.105469 -1.996759     2  0  1  0  0
398      0  0.972155  0.683454     2  0  1  0  0
399      0  0.106478  1.314093     3  0  0  1  0

[400 rows x 8 columns]

## Create functions

In [164]:
def init_params():
    return np.random.uniform(0,1, size=(7)),np.random.uniform(0,1, size=(1))[0]

In [165]:
init_params()

(array([0.45021613, 0.23974341, 0.81626756, 0.85506244, 0.22132046,
        0.86414307, 0.16057048]),
 0.0417595703980419)

In [166]:
def sigmoid(x):
    return (1/(1+np.exp(-x)))

In [167]:
def output(w,b,x):
    return sigmoid(np.dot(w,x) + b)

In [168]:
def output_prime(out):
    return out*(1-out)

In [169]:
def error(y,y_hat):
    return y - y_hat

In [170]:
def entropy(y,y_hat):
    return - (y*np.log(y_hat)+ (1-y)*np.log(1-y_hat))

In [171]:
w,b = init_params()

## Training the model

In [172]:
learn_rate = .01
nb_epochs = 100
for e in range(nb_epochs):
    loss_arr = np.zeros(len(data))
    for i in range(len(data)-1):
        row = data.iloc[i]
        label = row["admit"]
        features = np.array(row.drop(labels=["admit"],axis=0))  
        out = output(w,b,features)  
        loss_arr[i] = entropy(label,out)
        h_prime = output_prime(out)
        min_delta = (label - out)*h_prime
        delta_w = learn_rate*min_delta*features
        delta_b = learn_rate*min_delta
        w+= delta_w
        b+=delta_b
    if(e%10 == 0):
        print("Loss:"+str(np.average(loss_arr))+" ===> NÂ° Epochs:"+str(e))
print("Finished Training !")

Loss:1.1225840618131422 ===> NÂ° Epochs:0
Loss:0.5919116256179721 ===> NÂ° Epochs:10
Loss:0.5771428379549151 ===> NÂ° Epochs:20
Loss:0.574769237514491 ===> NÂ° Epochs:30
Loss:0.5742343289551702 ===> NÂ° Epochs:40
Loss:0.5740700286570106 ===> NÂ° Epochs:50
Loss:0.5740143447138456 ===> NÂ° Epochs:60
Loss:0.5739944069454647 ===> NÂ° Epochs:70
Loss:0.5739870388336031 ===> NÂ° Epochs:80
Loss:0.5739844220884079 ===> NÂ° Epochs:90
Finished Training !